<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- varela round font through google fonts api -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap"
      rel="stylesheet"
    />
    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
      crossorigin="anonymous"
    />
    <!-- css -->
    <link rel="stylesheet" href="../../public/css/style.css" />

    <title>Spotify PlaceHolder Title</title>
  </head>

  <body>
    <!-- navbar -->
    <nav class="navbar navbar-default" id="mainNavbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" id="projectTitle"
            >Spotify Placeholder Project</a
          >
        </div>
        <ul class="nav navbar-nav navbar-right" id="navMainLinks">
          <li><a href="/">Home</a></li>
          <li><a href="/playlists">My Playlists</a></li>
          <li><a href="#">About</a></li>
          <li>
    {{!-- <h1>This is an example of the Authorization Code flow</h1> --}}
            <form id="login" method="POST" action="/login">
              <input type="submit" value="Log in with Spotify">
            </form>
          </li>
        </ul>
      </div>
    </nav>

{{{body}}}

  </body>
</html>
