    <div class="container" id="playlistCreateMain">
      <div class="row">
        <div class="col-sm-11 col-md-2 createBox" id="songNum">
          <h4>number of songs</h4>
          <select class="span1">
            <option value="">5</option>
            <option value="">6</option>
            <option value="">7</option>
            <option value="">8</option>
            <option value="">9</option>
            <option value="">10</option>
            <option value="">11</option>
            <option value="">12</option>
            <option value="">13</option>
            <option value="">14</option>
            <option value="">15</option>
          </select>
        </div>
        <div class="col-sm-11 col-md-2 createBox" id="selectCriteria">
          <h4>criteria</h4>
          <div id="checkboxGroup">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault"
              />
              <label class="form-check-label" for="useArtists">
                top artists
              </label>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <label class="form-check-label" for="useGenres">
                  top genres
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <label class="form-check-label" for="useSongs">
                  top songs
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-11 col-md-2 createBox" id="tbd">
            <h4>create</h4>
            <div>add some more options here maybe?</div>
        </div>
        <div class="col-sm-11 col-md-2 createBox" id="submitBox">
          <button>submit</button>
        </div>
      </div>
    </div>
