<div id="mainContent" class="container">

  <div id="welcomeBox" class="row">hello
    <span id="username">username</span>
  </div>

  <div id="topMusicRow" class="row">

    <div id="topArtists" class="col-sm-3">
      <h3>top artists:</h3>
      <ul id="topArtistsList">
        <li>artist</li>
        <li>artist</li>
        <li>artist</li>
      </ul>
    </div>

    <div id="topGenres" class="col-sm-3 col-sm-offset-1">
      <h3>top genres:</h3>
      <ul id="topGenresList">
        <li>rock</li>
        <li>pop</li>
        <li>jazz</li>
      </ul>
    </div>

    <div id="topSongs" class="col-sm-3 col-sm-offset-1">
      <h3>top songs:</h3>
      <ul id="topSongsList">
        <li>song</li>
        <li>song</li>
        <li>song</li>
      </ul>
    </div>

  </div>
</div>