<div id="mainContent" class="container">

  <div id="welcomeBox" class="row">hello
    <span id="username">username</span>
  </div>

  <div id="topMusicRow" class="row">

    <div id="topArtists" class="col-sm-3">
      <div id="topArtistsHeader">
        <span>top artists:</span>
        <button
          type="button"
          class="btn btn-outline-success"
        >save</button></div>
      <div id="topArtistsList">
        <div class="input-group mb-3">
          <input type="text" class="form-control" aria-label="artist1" />
          <input type="text" class="form-control" aria-label="artist1" />
          <input type="text" class="form-control" aria-label="artist1" />
          <input type="text" class="form-control" aria-label="artist1" />
          <input type="text" class="form-control" aria-label="artist1" />
        </div>
      </div>
    </div>

    <div id="topGenres" class="col-sm-3 col-sm-offset-1">
      <div id="topGenresHeader">
        <span>top genres:</span>
        <button
          type="button"
          class="btn btn-outline-success"
        >save</button></div>
      <div id="topGenresList">
        <div class="input-group mb-3">
          <input type="text" class="form-control" aria-label="genre1" />
          <input type="text" class="form-control" aria-label="genre1" />
          <input type="text" class="form-control" aria-label="genre1" />
          <input type="text" class="form-control" aria-label="genre1" />
          <input type="text" class="form-control" aria-label="genre1" />
        </div>
      </div>
    </div>

    <div id="topSongs" class="col-sm-3 col-sm-offset-1">
      <div id="topTracksHeader">
        <span>top tracks:</span>
        <button
          type="button"
          class="btn btn-outline-success"
        >save</button></div>
      <div id="topTracksList">
        <div class="input-group mb-3">
          <input type="text" class="form-control" aria-label="track1" />
          <input type="text" class="form-control" aria-label="track1" />
          <input type="text" class="form-control" aria-label="track1" />
          <input type="text" class="form-control" aria-label="track1" />
          <input type="text" class="form-control" aria-label="track1" />
        </div>
      </div>
    </div>

  </div>
</div>