<div class="container" id="mainListHolder">
    <div class="card" id="playlistCard">
        <ul class="list-group list-group-flush">
        {{#each tracks as |track|}}
            
            <li class="list-group-item">
                {{#each track.artists as |artist|}}
                    {{artist.name}}
                {{/each}}
                - {{track.name}}
             </li>
        {{/each}}
        </ul>
    </div>
</div>