/* color variables  */
:root {
  --lightpink: #f8c9cd;
  --regpink: #f3a5ab;
  --darkpink: #ee818a;

  --lightyellow: #f3f1a5;
  --regyellow: #eeea81;
  --darkyellow: #e9e45d;

  --lightestblue: #ADC6ff;
  --lighterblue: #85A9FF;
  --lightblue: #5c8dff;
  --regblue: #3370ff;
  --darkblue: #00398f;

  --white: #f5f5f5;
}

/* body css to set background to dark */
body {
    background-image: linear-gradient(90deg, #D6E2FF, #FDEDEE);
    font-family: 'Varela Round', sans-serif;

}

/* removing navbar border and changing color to regblue */
#mainNavbar {
  background-color: var(--regblue);
  border: none;
  border-bottom: 3px solid var(--darkblue);
  border-radius: 0px;
  box-shadow: 0px 2px 2px var(--darkblue);
}
/* setting lightyellow color and 36px font size */
#mainNavbar, #projectTitle, #navMainLinks a {
    color: var(--lightyellow);
    font-size: 36px;
    text-shadow: 3px 2px var(--darkblue);
}
/* on hover navlinks change to lightblue */
#navMainLinks a:hover {
    background-color: var(--lightblue);
}

/* logout button */
#logout {
    color: var(--darkpink);
    background: none;
    border: none;
}

#logout:hover {
    text-shadow: 3px 3px var(--regpink);
    background: var(--lightpink);
}

/* main elements */

/* homepage welcomebox */
#welcomeBox {
    width: 75vw;
    height: 100px;
    background: var(--regblue);
    box-shadow: 6px 10px 0px var(--darkblue);
    font-size: 36px;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: flex-start;
    padding-left: 25px;
}

#username {
    /* font-size: 48px; */
}

/* top artists songs and genres row + boxes */

#topArtistsHeader, #topGenresHeader, #topTracksHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    padding: 4px 0px;
    color: var(--darkblue);
}

/* stylizing save buttons */
#topArtistsHeader button, #topGenresHeader button, #topTracksHeader button {
    background-color: var(--lighterblue);
    color: var(--darkblue);
    border-radius: 0px;
    padding: 3px;
    box-shadow: 1px 1px 1px var(--darkblue);

}
/* stylizing save buttons:hover */
#topArtistsHeader button:hover, #topGenresHeader button:hover, #topTracksHeader button:hover {
    background-color: var(--lightestblue);
    color: var(--darkblue);
    border-radius: 0px;
    padding: 3px;
    box-shadow: 2px 2px 2px var(--darkblue);

}

#topMusicRow {
    margin-top: 40px;
}

#topArtists, #topSongs {
    background: var(--regpink);
    box-shadow: 6px 10px 0px var(--regyellow);
    padding-bottom: 10px;
}

#topGenres {
    background: var(--regyellow);
    box-shadow: 6px 10px 0px var(--regpink);
    padding-bottom: 10px;
}
    

/* css for create.handlebars */

#playlistCreateMain {
    width: 80vw;
    margin-top: 50px;
    background: var(--regblue);
    box-shadow: 6px 10px 0px var(--darkblue);

}

.createBox {
    box-sizing: border-box;
    height: 33vh;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
}

#songNum {
    background: var(--regpink);
    box-shadow: 6px 10px 0px var(--darkblue);

}
#selectCriteria {
    background: var(--regyellow);
    box-shadow: 6px 10px 0px var(--darkblue);

}

#tbd {
    background: var(--darkpink);    
    box-shadow: 6px 10px 0px var(--darkblue);

}

/* css for playlist view */

#mainlistHolder {
    background-color: var(--regblue);
    box-shadow: 6px 10px 0px var(--darkblue);
    padding: 25px
}

#songList {
    border-radius: none;
}

#songList li:nth-child(even) {
    background-color: var(--lightyellow);
    box-shadow: 4px 6px 0px var(--darkyellow);
    border-radius: 0px;
    border: none;
}

#songList li:nth-child(odd) {
    background-color: var(--lightpink);
    box-shadow: 4px 6px 0px var(--darkpink);
    border-radius: 0px;
    border: none;

}